<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Website Font style -->
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
            /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
            .row.content {height: 1000px}
            
            /* Set gray background color and 100% height */
            .sidenav {
              background-color: #f1f1f1;
              height: 80%;
            }
            
            /* Set black background color, white text and some padding */
            footer {
              background-color: #555;
              color: white;
              padding: 15px;
            }
            
            /* On small screens, set height to 'auto' for sidenav and grid */
            @media screen and (max-width: 767px) {
              .sidenav {
                height: auto;
                padding: 15px;
              }
              .row.content {height: auto;} 
            }
          </style>

    <title>Admin</title>
</head>
            <!-- {{userInfo.nickname}} -->
            
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            
        </div>
    </div>

    <div class="row content">
      <div class="col-sm-2 sidenav">
        <app-menuformasenvios (cambioMetodoEnvio)="obtenerPedidosPorFormaEnvio($event)" [pedidosPorEnvio]="pedidosPorEnvio"></app-menuformasenvios>
      </div>
      <div class="col-lg-10">
        <div>
            <app-toolbarestados [formaenvioactual]="idFormaEnvioActual" [pendientes]="pendientes" [apreparar]="apreparar" [preparados]="preparados" [entregados]="entregados" [finalizados]="finalizados"></app-toolbarestados>            
        </div>
        <div>
            <app-dragula [aPreparar]="dAPreparar" [preparados]="dPreparado" [entregados]="dEntregado" (cambioEstadoEvento)="actualizarEstado($event)" (modificarPedidoEvento)="editarPedidoEnModal($event)" (finalizarPedidoEvento)="finalizarPedido($event)"></app-dragula>                
        </div>
      </div>
    </div>
  </div>
  <button hidden="hidden" type="button" class="btn btn-outline-success mt-3 ml-3"   #buttonModalEdit data-toggle="modal" data-target="#exampleModal"> Agregar Pedido </button>
  <form class="form-horizontal" (submit)="grabarPedido()">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ingreso de Pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- <form class="form-horizontal" (Submit)="grabarPedido()"> -->
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="pedidoMl" class="col-sm-4 col-form-label">Pedido</label>
                                    <div class="form-group col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-hashtag" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="pedidoMl" id="pedidoMl" [(ngModel)]="pedidoInfo.id" (focusout)="getPedidoInfo()" placeholder="Nùmero pedido de Mercado Libre"/>
                                            <input type="hidden" class="form-control" name="pedidoId" id="pedidoId" [(ngModel)]="pedidoInfo.id" />
                                            <img *ngIf="espedidomercadolibre" alt="yellow box" width="22" height="22" style="padding-top: 5px;" src="../../assets/iconoml.ico">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="clientenro" class="col-sm-4 col-form-label">Cliente</label>
                                    <div class="form-group col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-hashtag" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="clientenro" id="clientenro" [(ngModel)]="pedidoInfo.numerocliente" placeholder="Cliente de facturación"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="ordencompranro" class="col-sm-4 col-form-label">OC</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-hashtag" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="ordencompranro" id="ordencompranro" [(ngModel)]="pedidoInfo.numerooc" placeholder="Nùmero de Orden de Compra"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="estado" class="col-sm-4 col-form-label">Estado</label>
                                    <div class="col-sm-8">
                                        <select name="estado" [ngModel]="pedidoInfo.estado || null" class="form-control input-xs" (change)="selectestado($event.target.value)">
                                            <option *ngFor="let value of estados" [attr.value]="value.id">{{value.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group row">
                                            <label for="enviodireccion" class="col-sm-2 col-form-label">Email</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="mail" id="mail" [(ngModel)]="pedidoInfo.mail" placeholder="Direccion de email"/>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="formaenvio" class="col-sm-4 col-form-label">Forma Envio</label>
                                    <div class="col-sm-8">
                                        <select name="formaenvio" [ngModel]="pedidoInfo.envioforma || null" class="form-control input-xs" (change)="selectenvioforma($event.target.value)">
                                            <option *ngFor="let value of formaenvio" [attr.value]="value.id">{{value.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="enviodireccion" class="col-sm-4 col-form-label">Direccion</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="enviodireccion" id="enviodireccion" [(ngModel)]="pedidoInfo.enviodireccion" placeholder="Direccion de envio"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="enviosucursal" class="col-sm-4 col-form-label">Sucursal</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="enviosucursal" id="enviosucursal" [(ngModel)]="pedidoInfo.enviosucursal" placeholder="Direccion de Sucursal"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="telefono" class="col-sm-4 col-form-label">Telefono</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="telefono" id="telefono" [(ngModel)]="pedidoInfo.telefono" placeholder="Telefono"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="enviohora" class="col-sm-4 col-form-label">Horario</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="enviohora" id="enviohora" [(ngModel)]="pedidoInfo.enviohora" placeholder="Horario de envio"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="envioadeuda" class="col-sm-4 col-form-label">Deuda</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                                            <input type="input" class="form-control" name="envioadeuda" id="envioadeuda" [(ngModel)]="pedidoInfo.envioadeuda" placeholder="Deuda del pedido"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="formapago" class="col-sm-4 col-form-label">Forma Pago</label>
                                    <div class="col-sm-8">
                                        <select name="formapago" [ngModel]="pedidoInfo.pagoforma || null"  class="form-control input-xs" (change)="selectpagoforma($event.target.value)">
                                            <option *ngFor="let value of formapago" [attr.value]="value.id" >{{value.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="pagosolicitadinero" class="col-sm-4 col-form-label">Sol. Dinero</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                                            <input type="input" class="form-control" name="pagosolicitadinero" id="pagosolicitadinero" [(ngModel)]="pedidoInfo.pagosolicitadinero" placeholder="Monto de dinero solicitado"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label for="comentario" class="col-sm-2 col-form-label">Comentario</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-font" aria-hidden="true"></i></span>
                                            <textarea class="form-control" name="comentario" id="comentario" [(ngModel)]="pedidoInfo.comentario" placeholder="Comentario"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                            </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" #buttonModalCancel data-dismiss="modal">Cancelar</button>
                    <button  type="submit" class="btn btn-primary btn-sm" onclick="$('#exampleModal').modal('hide')">Guardar</button>
                </div>
            </div>
        <!-- </form> -->
        </div>
    </div>

    </div>
</form>

<!-- <div class="panel-body">
   <app-toolbarestados [pendientes]="pendientes" [apreparar]="apreparar" [preparados]="preparados" [entregados]="entregados" [finalizados]="finalizados"></app-toolbarestados>
</div>
<div>
    <app-menuformasenvios></app-menuformasenvios>
</div>
<p>
  <label>Usuario</label>
  {{userInfo.nickname}}
</p>


<div class="row">
    <div class="examples">
        <app-dragula [aPreparar]="dAPreparar" [preparados]="dPreparado" [entregados]="dEntregado" (cambioEstadoEvento)="actualizarEstado($event)" (modificarPedidoEvento)="modificarPedido($event)"></app-dragula>
    </div>
</div> -->

<footer>
    <input type="input" class="form-control" name="token" id="token" [(ngModel)]="token" placeholder="token"/>
</footer>