<div class="mail-box">
    <aside class="sm-side">
        <div class="user-head">
            <div class="user-name">
                <h5><a href="#">Estados del Pedido</a></h5>
            </div>
            <a class="mail-dropdown pull-right" href="javascript:;">
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
        <div class="inbox-body">
            <a title="Guardar Pedidos Seleccionados" class="btn btn-compose" (click)="grabarPedidos()">
                Guardar Pedidos
            </a>
        </div>
        <div class="inbox-nav inbox-divider">
            
        </div>
    </aside>
    <aside class="lg-side">
        <div class="inbox-head">
            <h3>{{titulo}}</h3>
            <form action="#" class="pull-right position">
                <div class="input-append">
                    <input type="text" class="sr-input" id="valorbuscar" name="valorbuscar" [(ngModel)]="valorbuscar" placeholder="Buscar Pedido">
                    <button class="btn sr-btn" type="button" (click)="buscarPedido()"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="inbox-body">
        <div class="mail-option">
            <div class="chk-all">
                <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                <div class="btn-group">
                    <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
                        All
                        <i class="fa fa-angle-down "></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"> None</a></li>
                        <li><a href="#"> Read</a></li>
                        <li><a href="#"> Unread</a></li>
                    </ul>
                </div>
            </div>

            <div class="btn-group">
                <button type="button" (click)="refreshPedidos()" class="btn-sm btn mini tooltips"><i class="fa fa-refresh"></i></button>
            </div>
            <div class="btn-group hidden-phone">
                <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                    More
                    <i class="fa fa-angle-down "></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                    <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <a data-toggle="dropdown" href="#" class="btn mini blue">
                    Move to
                    <i class="fa fa-angle-down "></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                    <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                </ul>
            </div>

            <ul class="unstyled inbox-pagination">
                <li><span>Cantidad de Pedidos: {{cantidad}}  </span></li>
                <li><span> Seleccionados: {{seleccionados}}</span></li>
            </ul>
        </div>
        <table class="table table-inbox table-hover">
            <thead>
                <tr class="unread">
                    <th class="view-message text-center" style="max-width: 80px;"></th>
                    <th class="view-message text-center" style="max-width: 80px;">Pedido</th>  
                    <th class="view-message text-center" style="max-width: 80px;">Comprador</th>  
                    <th class="view-message text-center" style="max-width: 80px;">Telefono</th>
                    <th class="view-message text-center" style="max-width: 60px;">Fecha</th>
                    <th class="view-message text-center" style="max-width: 300px;">Items</th>
                </tr>
            </thead>
            <tbody *ngFor='let pedido of pedidos'>
                <!-- ver de poner el color del borde de la row con el color del estado -->
                <tr class="small">
                    <td class="inbox-small-cells">
                            <!-- [checked]="getData(row, column.name)" -->
                        <input *ngIf="pedido.seleccionado != null" type="checkbox" class="mail-checkbox" (change)="setChecked(pedido.id, $event.target.checked)" >
                    </td>
                      
                    <td class="view-message text-center">{{pedido.id}}</td>
                    <td class="view-message text-center">{{pedido.nombre}}</td>
                    <td class="view-message text-center">{{pedido.telefono}}</td>
                    <td class="view-message text-center">{{pedido.fecha | date: 'dd/MM/yyyy' }}</td>
                    <td class="view-message text-center">{{itemsastring(pedido.items)}}</td>
                </tr>
            </tbody>
            <tbody>
          </tbody>
          </table>
        </div>
    </aside>
</div>
